[Unit]
Description=Websocket server to connect Librespot to UI
After=network.target

[Service]
User=bwright
WorkingDirectory=/home/bwright/projects/spotify_player/backend
ExecStart=/home/bwright/projects/spotify_player/backend/.venv/bin/python3 /home/bwright/projects/spotify_player/backend/websocketServer.py
Restart=always
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target