[Unit]
Description=Creates a Librespot instance to handle external connections
After=network.target

[Service]
User=bwright
WorkingDirectory=/home/bwright/projects/spotify_player/backend
EnvironmentFile=-/etc/systemd/system/spotifyZeroConf.conf
ExecStart=/usr/bin/librespot $NAME $BITRATE $ONEVENT $DEVICE $FORMAT
Restart=always
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target